/* Estilos para la sección Body */

body {
    margin: 0;
    font-family:Inter, Roboto, sans-serif;
    color: white;
    background-color: #0c0c2f;
}

header {
    background-color: #0c0c2f;
    padding: 10px 20px;
    height: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    height: 60px; 
}

nav ul {
    list-style: none;
    margin: 0 0 0 30px;
    padding:0;
    display: flex;
    gap: 25px;
    flex: 2;
}

nav ul li a {
    color: #5C6C9B;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: #f3eef2;
}

/* botones e input*/
.auth-buttons {
    display: flex;
    align-items: center;
    gap: 14px;
}

.auth-buttons input[type="text"] {
    color: #000000;
    padding: 5px;
    border: 3px  solid;
    border-radius: 8px;
    background-color: #A6A6A6;
    transition: border-color 0.3s ease;
}

.auth-buttons input[type="text"]:hover{
    background-color: #70a6ad;
    border-color: #00ffe1;
}

.auth-buttons input[type="text"]:focus {
    background-color: #70a6ad; 
    border-color: #00ffe1;    
    outline: none;             
}


.auth-buttons button {
    border: none;
    border-radius: 40px;
    padding: 8px 10px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.auth-buttons button:hover {
    background:linear-gradient(to right, rgb(118, 193, 239), rgb(70, 93, 120));/* Color de fondo cuando está en foco */
    padding: 10px 10px;
}

.inicio{
    background:linear-gradient(to right, rgba(252, 243, 207), rgba(187, 143, 206));
}

.registrarse{
    background:linear-gradient(to right, #CDFFD8, #94B9FF);
}


/*videito*/


.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(4, 27, 52, 0.5), rgba(4, 27, 52, 0.8));
    z-index: 2;
}

.content {
    position: relative;
    z-index: 3;
    text-align: center;
    color: #fff;
    padding: 500px;
    margin: 50px;
    margin-top: 20vh; 
}

.content h1 {
    font-size: 3em;
    margin-bottom: 60px;
}

.content p:first-of-type {
    font-size: 2em; 
    font-weight: bold;
    margin: 10px 0; 
}

.content p.frase__larga {
    padding-inline: 4;
    font-size: 1.2em;
    margin: 10px 0;
}

.content button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content button:hover {
    background-color: #00574b;
}

.pro {
    color: #5E17EB;
    font-size: 70px;
    font-weight: bold;
    font-family: ProPlayers;
}

.players {
    color: #7ED957;
    font-size: 70px;
    font-weight: bold;
    font-family: ProPlayers;
}

@font-face {
    font-family: ProPlayers;
    src: url(./fonts/batmfa__.ttf);
}

/* Estilos para la sección de Destacados y Juegos Disponibles */

.featured, .available-games {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
}

.featured h2, .available-games h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.featured-items, .games-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.featured-item, .game-item {
    background-color: #0c0c2f;
    padding: 10px;
    border-radius: 5px;
    flex: 5 1 calc( 20.333% - 20px);
    box-sizing: border-box;
}

.featured-item img, .game-item img {
    width: 100%;
    height: auto; 
    display: block;
    border-radius: 5px;
    max-width: 500px; 
    max-height: 400px;
}
     
.featured-item h3, .game-item p {
    
    margin: 10px 0 5px;
    font-size: 1.2em;
    background-attachment: rgb(0, 200, 255) ;
    color: #0099ff; 
    font-size: 1.8em;
    text-decoration: none;
}

.featured-item p, .game-item p {
    
    margin: 0;
    font-size: 1em;
    margin-top: 10px;
    text-decoration: none;
}

.see-more {
    flex: 1 1 100%;
    text-align: right;
    height: auto;
    margin-right: 20px;
}

.see-more a {
    color: #007bff;
    text-decoration: none;
}
/* Estilos para la sección de torneos populares */
.torneos-populares { 
    text-align: left;
    padding: 20px;
 }

.torneos-populares h3 { 
    font-size: 24px; 
    margin-bottom: 20px; 
}

.torneos-grid { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
 }

.torneo-item { 
    border: 1px solid #ccc;
     padding: 10px; 
     text-align: center;
     }

.torneo-item img {
     max-width: 300px; 
     margin-bottom: 10px;
     }

.torneo-info {
     font-size: 14px; 
    }

.mostrar-mas { 
    margin: 20px 20px 0 0;
    text-align: right;
 }

.mostrar-mas a { 
    text-decoration: none; 
    color: #007bff;
 }

 .game-item img{
    width: 204px;
    height: 272px;
 }

 .iconos img{
    border-radius: 50%;
    width: 500px;
    margin: 0;
 }

/*Estilos para la sección pagina de footer */

footer{
    padding: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    max-height: 70px; 
    margin-right: 0px;
}

.footer-logo h2 {
    color: #1E88E5; 
    font-size: 1.5em;
}

.footer-social a {
    margin: 0 10px;
    display: inline-block;
}

.footer-social img {
    width: 35px; 
    height: 35px; 
    border-radius: 50%;
    background-color: #0A0F2B; 
    padding: 5px;
    transition: transform 0.3s;
}

.footer-social img:hover {
    transform: scale(1.1); 
}

